
<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <div class="nav-collapse collapse">
                <ul class="nav">
                    <li onclick="location.href='{:U(index)}'"><img src="__PUBLIC__/Home/image/01.png" alt=""></li>
                    <li><a href="{:U(index)}">首页</a></li>
                    <li><a href="{:U(artist)}">艺术家介绍</a></li>
                    <li><a href="{:U(news)}">新闻动态</a></li>
                    <li><a href="{:U(about_us)}">关于我们</a></li>
                    <li>
                        <span>24小时咨询热线</span><br>
                        <span>0755-888888</span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
