<div class="footer">
    <div class="wrap">
        <h4>深圳市珍宝斋艺术馆有限公司</h4>
        <p>copyright@2016 zbzart.com AllRights Reserved 粤ICP备17035367号-1</p>
        <p><script id='ebsgovicon' src='http://szcert.ebs.org.cn/govicon.js?id=e69c95ed-051d-4cba-a791-f00ddeabde6a&width=100&height=137&;type=1' type='text/javascript' charset='utf-8'></script></p>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
<script>
    $(function () {
        $('.title_item span').click(function () {
            $(this).children().addClass('active');
//            $(this).siblings().children().removeClass('active');
        });
    })
</script>
