<div class="header">
    <div class="wrap">
        <div class="title_item">
            <span onclick="location.href='{:U(index)}'" style="padding-top: 0;"><img src="__PUBLIC__/Home/image/logo2.png" style="height: 100%" alt=""></span>
            <span><a href="{:U(index)}" >首页</a></span>
            <span><a href="{:U(artist)}">艺术家介绍</a></span>
            <span><a href="{:U(news)}"  >新闻动态</a></span>
            <span><a href="{:U(profile)}" >关于我们</a></span>
            <span>
                <span>24小时咨询热线</span><br>
                <span style="color: red;">4000-93-0004</span>
            </span>
        </div>
    </div>
</div>
