<!DOCTYPE html>
<html>
    <head>
    <include file="Common/head" />

</head>
<body>
    <!-- page 容器 -->
    <div class="page" >
        <!-- 标题栏 -->
        <header class="bar bar-nav">
            <a class="button button-link button-nav pull-left" onclick="javascript:history.go(-1);">
                <span class="icon icon-left"></span>

            </a>
            <h1 class="title">
                详情
            </h1>

        </header>

        <!-- 工具栏 -->


        <!-- 这里是页面内容区 -->

        <div class="content">
            <div class="card">
                <div class="card-content">
                    <div class="card-content-inner">
                        <p style='text-align:center;'>
                            <img src="http://www.sz91wh.com/images/jywh_01.jpg" style="user-select: text;">

                        </p>
                        <p style="user-select: text;">
                            &nbsp; &nbsp; 九一文化是一家致力于弘扬传统文化艺术产业多元化发展的集团企业。专注于文玩古董、名家书画、艺术陶瓷、紫砂、贵金属、宝石玉器、钱币邮票、重大特许纪念品及稀珍非物质文化遗产等的投资开发、创意设计、影视传媒、品牌运营、销售推广和传播。凭借独特资源优势和多元化的业务模式，为客户提供艺术品的投资收藏、鉴赏交流、评估鉴定、经纪代理、拍卖展览和当代大师顶级艺术品定制为一体化尊享服务。<br style="user-select: text;">
                            &nbsp; &nbsp; 九一文化以传承、发扬、发展繁荣民族文化艺术事业为己任，始终秉承“文化成就非凡人生”的理念。坚持以客户信任为托付的责任，以追求极致，创造完美的奋斗精神，携手众多当代文化学者、专家、艺术大师团队以独具创新震撼的设计思路和一流的经营管理服务团队等综合优势，导入了国际先进的现代企业管理体系，以市场需求为导向，颠覆性开创了独具创新的文化艺术品运营模式。先后与众多国家级重点文化机构建立了深度合作关系，荣誉发行了一件件独具文化创意、极具投资收藏的文化艺术瑰宝，承载着客户在文化艺术品的个性化需求和投资收藏艺术财富梦想。经过几年的不断努力，已经崛起发展成为国家省市重点文化扶持领先企业，是文化产业和艺术收藏品行业异军突起的生力军。
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<include file="Common/footer" />



</body>
</html>