<!DOCTYPE html>
<html>
    <head>
        <include file="Common/head" />

    </head>
    <body>
        <!-- page 容器 -->
        <div class="page">
            <!-- 标题栏 -->
            <header class="bar bar-nav">
                <a class="button button-link button-nav pull-left back" href="#">
                    
                    深圳
                    <span class="icon icon-down"></span>
                </a>
                <h1 class="title">
                    <input type="search" id="search" placeholder="输入关键字" style="border-bottom-left-radius: 5px;border-bottom-right-radius: 5px;" />
                </h1>
                <a class="icon icon-cart pull-right open-panel"></a>
            </header>

            <!-- 工具栏 -->
            

            <!-- 这里是页面内容区 -->
            <div class="content">
                <div class="content-block">这里是content</div>
            </div>
        </div>

        

        <include file="Common/footer" />
        
        

    </body>
</html>